/* Sorting Guide */
.sorting-guide {
  margin-bottom: 3rem;
  margin-top: 9rem;
}

.sorting-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: start;
}

.sorting-grid {
  padding: 1.5rem;
  border-radius: 8px;
  height: 550px;
}

.grid-header {
    display: flex;
    align-items: center; /* vertical center */
    gap: 10px; /* space between icon and title */
    margin-bottom: 1rem; /* space before grid items */
}


/* Section Colors*/
.gray-section {
  background-color: #6c757d;
}

.green-section {
  background-color: #28a745;
}

.blue-section {
  background-color: #007bff;
}

.black-section {
  background-color: #343a40;
}

.grid-title {
  color: white;
  font-size: 28px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-item {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  display: flex;
  /* padding: 5px; */
  justify-content: center;
  align-items: center;
  height: 180px;
  min-height: 150px;
}

.grid-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  object-position: initial;
  display: block;
}

/* Info Panel */
.info-panel {
  background-color: #dedfe071;
  padding: 1.5rem;
  border-radius: 8px;
  border-left: 4px solid #8B1A2B;
  height: 550px;
}

.info-panel h4 {
  font-size: 26px;
  color: #333;
}

.info-panel ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.info-panel li {
  padding: 0.25rem 0;
  font-size: 16px;
  color: #666;
  position: relative;
  padding-left: 1rem;
}


.info-panel li::before {
  content: "•";
  color: #8B1A2B;
  position: absolute;
  left: 0;
}


